<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Beet homepage</title>
    <link rel="stylesheet" href="../static/normalize.css" th:href="'/normalize.css'">
    <link rel="stylesheet" href="../static/myStyle.css" th:href="'/myStyle.css'">
    <link rel="icon" type="img" sizes="32x32" href="../static/images/favicon-32x32.png" th:href="'/images/favicon-32x32.png.css'">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg d-flex justify-content-end px-5 navbarbg-color">

        <form class="d-flex my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Latest beets</h1>
                <ul >
                    <li th:each="beet : ${session.beets}" class="darker" style="width: 30rem; background-color: #222; color: #fff;">
                        <!--                        <div th:each="beet : ${session.beetList}" class="comment mt-4 text-justify float-left">



                                                </div>-->
                        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                        <h4 th:text="${session.currentUser.username}">USERNAME HERE</h4> <span th:text="${beet.createdAt}">- ADD TODAYS DATE</span> <br>
                        <p th:text="${beet.message}"></p>

<!--                        <div class="relative"><input
                                class="pt-2 pb-2 pl-3 w-full h-11 bg-slate-100 dark:bg-slate-600 rounded-lg
                                placeholder:text-slate-600 dark:placeholder:text-slate-300 font-medium pr-20"
                                type="text" placeholder="Write a comment"/>
                            <span class="flex absolute right-3 top-2/4 -mt-3 items-center">
                            <svg class="mr-2" style="width: 26px; height: 26px;" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,
                            8 0 0,0 20,12M22,12A10,10 0 0,1 12,22A10,10 0 0,
                            1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M10,9.5C10,10.3 9.3,11 8.5,11C7.7,11 7,10.3 7,
                            9.5C7,8.7 7.7,8 8.5,8C9.3,8 10,8.7 10,9.5M17,9.5C17,10.3 16.3,11 15.5,11C14.7,11 14,
                            10.3 14,9.5C14,8.7 14.7,8 15.5,8C16.3,8 17,8.7 17,9.5M12,17.23C10.25,17.23 8.71,16.5 7.81,
                            15.42L9.23,14C9.68,14.72 10.75,15.23 12,15.23C13.25,15.23 14.32,14.72 14.77,14L16.19,
                            15.42C15.29,16.5 13.75,17.23 12,17.23Z"></path>
                            </svg>
                            <svg class="fill-blue-500 dark:fill-slate-50" style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                                <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z"></path>
                            </svg>
                            </span>
                        </div>-->
                    </li>
                </ul>
<!--
                <div class="darker mt-4 text-justify">
                    <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>MV</h4> <span>- 24 February, 2022</span> <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda
                        hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>-->
            </div>

            <!--POSTING A BEET-->
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-2 offset-sm-2 col-12 mt-4">

                <form action="/beets/create" th:object="${newbeet}" method="post" id="algin-form" class="form_postBeet">
                    <div class="form-group">
                        <h4>Feeling bitter?</h4>
                        <label for="message"></label>
                        <textarea th:field="*{message}" name="beet" id="beet" cols="30" rows="5" class="form-control">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="post" class="btn">Share beet</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</section>
</body>
</html>